@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
*{
    margin:0;
    padding: 0%;
    font-family: 'Roboto Mono', monospace;
    
}

.cont{
  background-color: #121110;
  height: 100vh;
  margin: 0px;
  /* padding-left: 150px;
  padding-right: 150px; */
  
}

.navbar{
    padding-left: 150px;
    padding-right: 150px;
    /* width: 100%; */
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    background: linear-gradient(180deg, #121110, transparent);
    
}
.logo{
    cursor: pointer;
    text-decoration: none;
    color: #998656;
    font-size: 14px;
}

.linkedin{
    width: 20px;
    cursor: pointer;
    position:relative;
    top:3px;
}
.github{
    width: 20px;
    cursor: pointer;
    position: relative;
    top:3px;
}
nav{
    float: right;
    justify-content: space-between;
    
}
nav ul li{
    display: inline-block;
    align-items: center;
    list-style: none;
    margin: 0px 5px;
    font-size: 14px;
    
}
nav ul li a{
    text-decoration: none;
    color: #DDDDDD;
}
.is{
    color: #686868;
}

.workkkk,
.is,
.about,
.contact{
    transition: 0.7s;
}
.workkkk:hover,
.about:hover,
.contact:hover{
    color: #998656;
}
.is:hover{
    color: #655221;
}
.linkedin:hover{
    background-image: url(material/linkedin2.png);
    z-index: 2000;
}
.linkedin:hover{
    transform: scale(1.2);
    z-index: 2000;
    transition: 0.7s;
}
.github:hover{
    transform: scale(1.2);
    z-index: 2000;
    transition: 0.7s;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
}

.line{
    top: 50vh;
    bottom: 0;
    left: calc(25vw - 2rem);
    width: 1px;
    background: linear-gradient(#998656, #121110);
}

.line, .line-target{
    position: fixed;
    z-index: 2;
}
.line-target .circle,
.line-target .pulse{

    z-index: 2;
    left: calc(26.76vw - 4rem);
    position: absolute;
    top: calc(39vh - 2rem);
    width: 9px;
    height: 9px;
    transform-origin: center;
    border-radius: 4rem;
    background-color: #998656;
    border: 1px solid #998656;
}


.workkkk3{
    color: #686868;
}

.workkkk3,
.is3,
.about3,
.contact3{
    transition: 0.7s;
}
.about3:hover,
.is3:hover,
.contact3:hover{
    color: #998656;
}
.workkkk3:hover{
    color: #655221;
}

.work_is{
    padding-left: 150px;
    display: block;
    color: #DDDDDD;
    position: relative;
    margin-top: -8.5vw;
    margin-left: 15vw;
    word-spacing: -.8em;
    font-size: 64px;
    font-weight: 700;
    hyphens: auto;
    letter-spacing: -.05em;   
}
.work_2{
    color: #998656;
}
.project1{
    padding-left: 150px;
    display: block;
    color: #686868;
    position: relative;
    margin-top: 1vw;
    margin-left: 15vw;
    word-spacing: 0em;
    font-size: 20px;
    font-weight: 700;
    hyphens: auto;
    letter-spacing: -.03em;
}
.project2{
    padding-left: 150px;
    display: block;
    color: #686868;
    position: relative;
    margin-top: 0.7vw;
    margin-left: 15vw;
    word-spacing: 0em;
    font-size: 14px;
    font-weight: 700;
    hyphens: auto;
    letter-spacing: -.03em;
}

.purpledocs{
    height: 100vh;
    margin: 0px;
    background-image: url(Updates/Projects.png);
    z-index: -100;
    background-repeat: no-repeat;
}
.purpledocs1{
    padding-left: 150px;
    display: block;
    color: #DDDDDD;
    position: relative;
    margin-top: -5.3vw;
    margin-left: 15vw;
    word-spacing: -0.6em;
    font-size: 64px;
    font-weight: 700;
    hyphens: auto;
    letter-spacing: -.05em; 
    top: 43%;  
}
.doc2
{
    color: #998656 ;
}
.doc3{
    padding-left: 150px;
    display: block;
    color: #686868;
    position: relative;
    margin-top: 1vw;
    margin-left: 15vw;
    word-spacing: 0em;
    font-size: 20px;
    font-weight: 700;
    hyphens: auto;
    letter-spacing: -.03em;
    top: 43%;  
}
.learn_more1{
    color: #121110;
    border-radius: 50%;
    text-decoration: none;
    font-size: 14px;
}
.btn123{
    position: relative;
    top: 48%;
    left:24.9%;
    padding: 12px 24px;
    background-color: #998656;
    border-radius: 8px;
    transition-duration: 0.8s;
}
.btn123:hover{
    background-color: #655221;
    border: 2px solid #655221;
}
.coffee{
    height: 100vh;
    margin: 0px;
    background-image: url(Updates/Evento.png);
    background-repeat: no-repeat;
}
.coffee1{
    padding-left: 150px;
    display: block;
    color: #DDDDDD;
    position: relative;
    margin-top: -5.3vw;
    margin-left: 15vw;
    word-spacing: -0.2em;
    font-size: 64px;
    font-weight: 700;
    hyphens: auto;
    letter-spacing: -.05em; 
    top: 43%;  
}
.cof2{
    color: #998656;
}
.cof4{
    padding-left: 150px;
    display: block;
    color: #686868;
    position: relative;
    margin-top: 1vw;
    margin-left: 15vw;
    word-spacing: 0em;
    font-size: 20px;
    font-weight: 700;
    hyphens: auto;
    letter-spacing: -.03em;
    top: 43%;
}
.learn_more2{
    color: #121110;
    border-radius: 50%;
    text-decoration: none;
    font-size: 14px;
}
.btn1234{
    position: relative;
    top: 48%;
    left:24.9%;
    padding: 12px 24px;
    background-color: #998656;
    border-radius: 8px;
    transition-duration: 0.8s;
}
.btn1234:hover{
    background-color: #655221;
    border: 2px solid #655221;
}
.tokyo{
    height: 100vh;
    margin: 0px;
    z-index: 100;
    background-image: url(Updates/icici.png);
    background-repeat: no-repeat;
}
.tokyo1{
    padding-left: 150px;
    display: block;
    color: #DDDDDD;
    position: relative;
    margin-top: -5.3vw;
    margin-left: 15vw;
    word-spacing: -.2em;
    font-size: 64px;
    font-weight: 700;
    hyphens: auto;
    letter-spacing: -.05em;   
    top: 43%;
}
.tok2{
    color: #998656;
}
.tok3{
    padding-left: 150px;
    display: block;
    color: #686868;
    position: relative;
    margin-top: 1vw;
    margin-left: 15vw;
    word-spacing: 0em;
    font-size: 20px;
    font-weight: 700;
    hyphens: auto;
    letter-spacing: -.03em;
    top: 43%;
}
.learn_more3{
    color: #121110;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

.btn12345{
    position: relative;
    top: 48%;
    left:24.9%;
    padding: 12px 24px;
    background-color: #998656;
    border-radius: 8px;
    transition-duration: 0.8s;

}
.btn12345:hover{
    background-color: #655221;
    border: 2px solid #655221;
}


@media screen and (max-width: 600px){
    .cont{
        height: 100vh;
        margin: 0px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1vh;
    }
    
    .navbar{
        padding-left: 2vh;
        padding-top: 2vh;
        width: 100%;
        align-items: flex-start;
        height: 7vh;
        top: -8px;
    }
    .logo{
        text-decoration: none;
        color: #998656;
        font-size: 20px;
    }
    .linkedin,
    .github{
        width: 20px;
    }


    .hamburger{
        display: block;
        padding-right: 40px;
    }
    
    .hamburger.activek .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.activek .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.activek .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{

        position: fixed;
        left: -100%;
        top: 10vw;
        gap: 0;
        flex-direction: column;
        /* background-color: #686868; */
        width: 800%;
        text-align: right;
        transition: 1s;
        left: 18vw;  
    }

    .is,
    .workkkk,
    .about,
    .contact,
    .linkedin,
    .github{
        margin: 1px 0;
    }

    .nav-menu:activek{
        left: 0pc;
    }

    .activek{
        position: relative;
        z-index: 50;
        flex-direction: column;
        width: 1vw;
        float: left;
    }

    .line{
        top: 47vh;
        left: calc(12vw - 2rem);
        width: 2px;
    }
    .line, .line-target{
        position: fixed;
        z-index: 2;
    }
    .line-target .circle,
    .line-target .pulse{
        left: calc(18.3vw - 4rem);
        top: calc(39.5vh - 2rem);
        width: 11px;
        height: 11px;
    }
    .work_is{
        padding-left: 0px;
        margin-top: -28vw;
        margin-left: 8vw;
        font-size: 36px;

    }
    .project1{
        padding-left: 0px;
        margin-top: 2vw;
        margin-left: 8vw;
        font-size: 16px;
    }
    .project2{
        padding-left: 0px;
        margin-top: 1vw;
        margin-left: 8vw;
        font-size: 12px;

    }
    .purpledocs{
        height: 100vh;
        margin: 0px;
        background-image: url(Updates/Projects2.png);
    }
    .purpledocs1{
        padding-left: 0px;
        margin-top: -27vw;
        margin-left: 8vw;
        font-size: 36px;
    }
    .doc3{
        padding-left: 0px;
        margin-top: 1vw;
        margin-left: 8vw;
        font-size: 12px;
    }
    .learn_more1{
        font-size: 12px;
    }
    .btn123{
        top: 46%;
        left:7.6%;
        padding: 8px 16px;
        border-radius: 4px;
    }
    .coffee{
        height: 100vh;
        margin: 0px;
        background-image: url(Updates/Evento2.png);
    }
    .coffee1{
        padding-left: 0px;
        margin-top: -27vw;
        margin-left: 8vw;
        font-size: 36px;
 
    }
    .cof4{
        padding-left: 0px;
        margin-top: 1vw;
        margin-left: 8vw;
        font-size: 12px;
    }
    .learn_more2{
        font-size: 12px;
    }
    .btn1234{
        top: 46%;
        left:7.9%;
        padding: 8px 16px;
        border-radius: 4px;
    }
    .tokyo{
        height: 100vh;
        margin: 0px;
        background-image: url(Updates/icici2.png);
    }
    .tokyo1{
        padding-left: 0px;
        margin-top: -27vw;
        margin-left: 8vw;
        font-size: 36px;
    }
    .tok3{
        padding-left: 0px;
        margin-top: 1vw;
        margin-left: 8vw;
        font-size: 12px;
    }
    .learn_more3{
        font-size: 12px;
    }
    
    .btn12345{
        top: 46%;
        left:7.9%;
        padding: 8px 16px;
        border-radius: 4px;
    
    }

}